<ul id="social-links">
	<a href="http://careers.laterooms.com/">Careers</a>
	<a href="https://twitter.com/LateRooms">Twitter</a>
	<a href="https://github.com/LateRoomsGroup/">Github</a>
	<a href="{{@blog.url}}/rss">Subscribe</a>
</ul>
